body{
	background-color: Azure;

}

h1{
	text-align: center;
	font-size: 70px;
	font-family: Verdana;
	color: #625D5D ;
}

td{
	text-align: left1;
	font-family: Verdana;
	font-size: 30px;
	color:#98AFC7;
}

a:visited{
	color:CornflowerBlue;
}
img{
	width:300px;
	height:450px;
	padding-left: 50px;
}

table{
	width : 70%;
	margin-left: 20%;
	margin-right: 20%;
}

#home{
	font-size:40px;
	text-align: center;
}

#askme{
	color:Pink;
	font-size:40px;
	text-align: center;
}

#moviehomepage{
	background-color: MintCream;
}

#clueless{
	color: Pink;
	padding-left: 50px;
}

#cluelessHeader{
	color:HotPink;
	font-size: 60px;
	font-weight: Bold;
	padding-left: 50px;
}

#it{
	color:LightGray;
	padding-left: 50px;
}

#itHeader{
	color:SlateGray;
	font-size:60px;
	font-weight: Bold;
	padding-left: 50px;
}

#superbadHeader{
	color:Red;
	font-size:60px;
	font-weight: Bold;
	padding-left: 50px;
}

#superbad{
	color: Silver;
	padding-left: 50px;

}


#mammaMiaHeader{
	color:CornflowerBlue;
	font-size:60px;
	font-weight: Bold;
	padding-left: 50px;

}

#mammamia{
	color:LightSkyBlue;
	padding-left: 50px;
}


#showhomepage{
	background-color: GhostWhite
}




#societyHeader{
	color:Crimson;
	font-size:60px;
	font-weight: Bold;
}

#s{
	color:Black;
}

#gossipgirlHeader{
	color:LightGrey;
	font-size:60px;
	font-weight: Bold;
}

#gg{
	color:Silver;
}

#bigtimerushHeader{
	color:DarkRed;
	font-size:60px;
	font-weight: Bold;
}

#btr{
	color:LightSteelBlue;
}

#dynastyHeader{
	color:DarkSlateGrey;
	font-size:60px;
	font-weight: Bold;
}
#d{
	color: DimGrey
}

#form{
	text-align:center;
	color:Black;
	font-weight: Bold;
	font-family: Verdana;
}

